{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="display panel panel-default login-panel register-panel reset-form">
    <h2 class="reset-title">Don't worry!</h2>
    <p>We've sent some instructions for setting your password to the email address you submitted.</p>
    <p>You should be receiving it shortly.</p>
    <p>If you don't receive an email, though, why don't you try signing up with a new account?</p>
    <p><a class="btn btn-dark" href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Sign up</a></p>

</div>
{% endblock %}