{% autoescape off %}
Hi there, {{ user.username }}!

You're receiving this e-mail because you requested a password reset for your user account at The Coffee Break.

If you didn't want to reset your password, you can just ignore this email.

If you did, though, please click on the link below, and you'll be taken to a page where you can choose a new password:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten, is {{ user.username }}

Thanks for using our site, and we hope you'll be enjoying some of our coffee soon.

The Coffee Break team.

{% endautoescape %}