{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<!-- Tells user their password's been reset -->
<div class="display panel panel-default login-panel register-panel reset-form">
    <h2 class="reset-title">Hurrah!</h2>
    <p>Your password's been reset! You can go ahead and use it to log in now.</p>
    <p>Just click on the button below to log in, and you can start shopping!</p>
    <p>Go on - you deserve a cup of coffee after all that.</p>
    <!-- Button to log in -->
    <p><a class="btn btn-dark" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></p> 
</div> 
{% endblock %}