{% extends 'base.html' %} 
    {% block page_title %}
        Password Reset Page
    {% endblock %} 

    {% block page_heading %}
        Reset Password
    {% endblock %}
    {% block content %}
    <div class="display panel panel-default login-panel register-panel">
        <p>Enter your email address below:</p>

        {% csrf_token %} 
        {{ form.email.errors }}

        <p>
            <label for="id_email">Email address:</label> 
            {{ form.email }}
            <button class="btn btn-dark"><i class="fa fa-undo" aria-hidden="true"></i> Reset Your Password</button>
        </p>
    </div>
    {% endblock %}