body {
    background-color: yellow;
}

/* Navbar */
.nav-item:hover {
  color: red;
}

.nav-item:active {
  color: yellow;
}

/* Page title */
.text-section {
    text-align: center;
    margin-top: 50px;
}


/* Footer section */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
    color: white;
}

