{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

{% if not basket_items %}

 
        <div class="text-section newsinfo col-md-6 offset-md-3 col-lg-8 offset-lg-2">
                    <h2>Your basket's empty!</h2>

                    <a href="{% url 'products' %}" class="btn btn-dark product-btn"><i class="fa fa-cart-plus" aria-hidden="true"></i> Click here to go shopping</a>
        </div>

{% else %} 

    <div class="row">

{% for item in basket_items %}
        
        <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-0 col-md-4 display panel panel-default basket-panel">
            
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            
            <div class="caption">
                <h3 class="product-name">{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <p>£{{ item.product.price }}</p>
                <p> 
                    <form class="form-inline row" method="post" action="{% url 'edit_basket' item.id %}">
                        {% csrf_token %}
                        <div class="form-group col-6">
                            <label for="exampleInputAmount" class="sr-only">New amount</label>
                            <div class="input-group">
                                <div class="input-group-addon">Quantity: </div>
                                <input name="quantity" type="number" value="1" min="0" max="999" class="form-control" placeholder="{{ item.quantity }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark product-btn col-4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
                    </form>
                </p>
            </div>
        </div>
{% endfor %}
    </div>

        <div class="row total-panel">
            <div class="text-section col-md-6 offset-md-3">
                <p class="total-info">Total: £{{ total }}</p>
                <p>
                    <a href="{% url 'checkout' %}" class="btn btn-dark product-btn" role="button">
                        <i class="fa fa-money" aria-hidden="true"></i> Checkout
                    </a>
                </p>
            </div>
        </div>

{% endif %}

{% endblock %}