{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

<!-- Tells user basket is empty if it's empty -->
{% if not basket_items %}

 
        <div class="text-section col-md-6 offset-md-3 col-lg-8 offset-lg-2 emptybasket">
                    <h2>Your basket's empty!</h2>
                    <!-- Button to take user to product page -->
                    <a href="{% url 'products' %}" class="btn btn-dark product-btn"><i class="fa fa-cart-plus" aria-hidden="true"></i> Click here to go shopping</a>
        </div>

{% else %} 

    <div class="row">

<!-- Displays information on products if there are products in the basket -->
{% for item in basket_items %}
        
        <div class="col-xs-12 col-sm-6 col-md-4 display panel panel-default basket-panel">
            
            <!-- Product image -->
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            
            <div class="caption">
                <!-- Product name -->
                <h3 class="product-name text-center">{{ item.product.name }}</h3>
                <!-- Product description -->
                <p class="basket-description">{{ item.product.description }}</p>
                <!-- Product price -->
                <p class="text-center">£{{ item.product.price }}</p>
                <!-- Allows user to update number of products in the basket -->
                <p> 
                    <form class="form-inline row" method="post" action="{% url 'edit_basket' item.id %}">
                        {% csrf_token %}
                        <div class="form-group col-6">
                            <label for="exampleInputAmount" class="sr-only">New amount</label>
                            <div class="input-group">
                                <div class="input-group-addon">Quantity: 
                                    <input name="quantity" type="number" value="{{ item.quantity }}" min="0" max="999" class="form-control" placeholder="{{ item.quantity }}">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark product-btn col-4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
                    </form>
                </p>
                <p class="text-center">
                    <button href="#" class="btn btn-dark product-btn"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                </p>
            </div>
        </div>
{% endfor %}
    </div>

    <!-- Shows total cost of items in basket -->
    <div class="row total-panel">
        <div class="text-section col-md-6 offset-md-3">
            <p class="total-info">Total: £{{ total }}</p>
            <!-- Button takes user to checkout page -->
            <p>
                <a href="{% url 'checkout' %}" class="btn btn-dark product-btn" role="button">
                    <i class="fa fa-money" aria-hidden="true"></i> Checkout
                </a>
            </p>
        </div>
    </div>

{% endif %}
</div>
{% endblock %}