{% extends 'base.html' %} 
    {% block page_heading %}{{ user }}'s Profile Page{% endblock %}

    {% block content %}
        
        <div class="display panel panel-default login-panel row">
            <div class="col-xs-10 offset-xs-1 col-md-6">
                <h2 class="profile-title">Welcome back, {{ user }}!</h2>
                <h3><i class="fa fa-user"></i> Your personal information:</h3>
                <h4>Your e-mail address is -</h4>
                <p>{{ profile.email }}</p>
                <h4>Your username is -</h4>
                <p>{{ user }}</p>
                <a type="btn" class="btn btn-dark profile-btn" href="{% url 'password_reset' %}">
                    <i class="fa fa-undo" aria-hidden="true"></i> Would you like to reset your password?
                </a>
            </div>
            <div class="col-xs-10 offset-xs-1 col-md-6">
                <h3><i class="fa fa-th-list" aria-hidden="true"></i> Order history:</h3>

                {% if order %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>

                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for order in orders %}
                                <tr>

                                    <th scope="row">{{ order.date }}</th>
                                    <td colspan="2">£ {{ order.total }}</td>
                                    <td colspan="2"><a href="#" class="btn btn-dark">View Details</a></td>
                
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                {% else %}
                    <span>
                        <strong>You haven't ordered anything yet!</strong>
                    </span>
                {% endif %}
                <p>
                    <a type="btn" class="btn btn-dark profile-btn" href="{% url 'products' %}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carry on shopping!
                    </a>
                    <a type="btn" class="btn btn-dark profile-btn" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </p>
            </div>
        </div>

        
    {% endblock %}