{% extends 'base.html' %} 
    
    {% block content %}
        
        <div class="display panel panel-default login-panel">
            <h2 class="profile-title">Welcome back, {{ user }}!</h2>
            <h3><i class="fa fa-user"></i> Your personal information:</h3>
            <h4>Your e-mail address is -</h4>
            <p>{{ profile.email }}</p>
            <h4>Your username is -</h4>
            <p>{{ user }}</p>

            <a type="btn" class="btn btn-dark" href="{% url 'products' %}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carry on shopping!
            </a>
        </div>

        
    {% endblock %}