{% extends 'base.html' %} 

{% load bootstrap_tags %}

    {% block page_title %}
        Registration Page
    {% endblock %} 

    {% block page_heading %}
        User Registration
    {% endblock %} 

    {% block content %}
        <div class="display panel panel-default login-panel register-panel">
            <h4>If you already have an account, you can <a href="{% url 'login' %}">sign in here.</a></h4>
            <h4>Enter your details below to register:</h4>

            <form method="POST">
                {% csrf_token %} {{ registration_form | as_bootstrap }}
                <button type="submit" class="btn btn-dark"><i class="fa fa-user-plus"></i> Register</button>
            </form>
        </div>
    {% endblock %}