{% extends "base.html" %}

{% block content %}

    <h2 class="newstitle">The latest news from the world of coffee</h2>

    <p> 
        From coffee exhibitions and festivals around the world to hip new coffee bars, 
        and from the latest cutting-edge coffee gadgets to the wildest new coffee flavours – 
        read on for some of the latest breaking news stories on coffee, and become a coffee expert.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-12">
                <div class="news-panel">
                    <div class="news-body">

                        {% for post in posts %}
                            <div class="row">
                                <div class="col-md-2 col-sm-3 text-center">
                                    <a class="story-img" href="#">
                                        <img src="/media/images/profile.jpg" class="img-circle">
                                    </a>
                                    <p class="authorinfo"><b>Author:</b> The Coffee Break</p>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <h3>{{ post.title }}</h3>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <p>{{ post.content }}</p>
                                            <p><b>Published on:</b> {{ post.published_date }} </p>
                                            <p><b>Views:</b> {{post.views}}</p>
                                            <p><b>Tag:</b> {{ post.tag }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>
    </div>


{% endblock %}