{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="text-section newsinfo col-md-6 offset-md-3 col-lg-8 offset-lg-2">
            <h2 class="title">The latest news from the world of coffee</h2>
            <p> 
                Here, you’ll find everything from coffee exhibitions and festivals around the world to hip new coffee bars, 
                and from the latest cutting-edge coffee gadgets to the wildest new coffee flavours – 
                read on for some of the latest breaking news stories on coffee, and become a coffee expert.
            </p>
        </div>
    </div>

   
        <div class="container news-stories row">
            <div class="col-12">

                {% for post in posts %}

                    <div class="news-panel">
                        <div class="news-body">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 text-center">
                                    <a class="story-img" href="#">
                                        <img src="/media/images/profile.jpg" class="img-circle">
                                    </a>
                                    <p class="authorinfo"><b>Author:</b> The Coffee Break</p>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    
                                    <h3 class="post-title">{{ post.title }}</h3>
                                    
                                        
                                            {% if post.image %}
                                                <img class="post-img rounded mx-auto d-block" src="/media/{{ post.image }}">
                                            {% endif %}
                                        
                                            <div class="row post-content">
                                                <div class="col-12">
                                                    <p>{{ post.content|linebreaks }}</p>
                                                    <p><b>Published on:</b> {{ post.published_date }} <b>Views:</b> {{post.views}} </p>
                                                    <p><b> Tags:</b> {{ post.tag }}</p>
                                                </div>
                                            </div>
                                        
                                    
                                </div>
                            </div>
                        </div>    
                    </div>

                {% endfor %}

            </div>
        </div>

{% endblock %}